.btn-submit {
    float: right;
}

.btn-save {
    margin-left: 10px;
}

.btn-xs {
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

.dependent-header {
    font-size: 1.4em;
}