<div id="loader-wrapper">
    <div id="loader">
        <img src="~/Content/images/logo-cob-loading.gif" alt="Carregando aguarde" />
        <p>Carregando...</p>
    </div>
    <div class="loader-section"></div>
</div>
