@{
    ViewBag.Title = "Empregados";
}

<div class="section">
    <div class="container">        
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-primary">@ViewBag.Title</h2>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="tableBlockDiv">                    
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Content/Script/ListEmployee.js")