<div id="ModalDependent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Cadastro de Dependente</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>                
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <label for="inputDependentName">Nome:</label>
                            <input type="text" class="form-control form-control-sm" id="inputDependentName" placeholder="Entre com o nome do Dependente">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SaveDependent()">Adicionar</button>                
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>        

        </div>
    </div>
</div>




